/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';
@import 'base/animations.css';

/* Components */
@import 'cmps/ToyIndex.css';
@import 'cmps/ToyDetails.css';
@import 'cmps/HomePage.css';
@import 'cmps/AboutUs.css';
@import 'cmps/Dashboard.css';
@import 'cmps/Login.css';
@import 'cmps/Signup.css';
@import 'cmps/AppHeader.css';
@import 'cmps/AppFooter.css';
@import 'cmps/ToggleBtn.css';
@import 'cmps/UserMsg.css';

@import 'cmps/ToyFilter.css';
@import 'cmps/ToyList.css';
@import 'cmps/ToyPreview.css';
@import 'cmps/ToyEdit.css';

@import 'cmps/ShoppingCart.css';

@import 'cmps/Popup.css';
@import 'cmps/Chat.css';
