/* GENERAL */
.home-page {
    margin-bottom: 2rem;
    color: var(--gray3);
    font-family: Arial, Helvetica, sans-serif;
}

.home-page .hero {
    background: url("../../img/home.jpg") center/cover no-repeat;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: var(--gray1);

    .hero-content {
        h1 {
            font-size: 3rem;
            text-shadow: 0 0 10px var(--gray3);
        }
    }

    .hero-content {
        p {
            max-width: 500px;
            font-size: 1.2rem;
            text-shadow: 0 0 10px var(--gray3)
        }
    }

    .btn {
        margin-top: 1rem;
        padding: .8rem 1.4rem;
        background: var(--gray3);
        color: var(--gray2);
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            background-color: var(--clr1);
        }
    }
}

.home-page .section {
    .section-title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 2rem;
    }

    .product-card {
        display: grid;
        place-items: center;
        padding: 0.5rem;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        .img-container {
            width: 100%;
            height: 300px;
            overflow: hidden;
            border-radius: 8px;
            border-radius: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
            }
        }
    }
}