.popup-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--shadow);
  z-index: 1000;
}

.popup-container {
  min-width: 300px;
  max-width: 500px;
  padding: 20px;

  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--shadow);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.popup-header,
.popup-footer {
  padding: 10px;
  font-weight: bold;
}

.popup-main {
  padding: 15px;
}
