.cart {
    background-color: var(--clr2bg-light);
    color: black;
    padding: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 250px;
}
.cart li button {
    margin: 5px;
}


