.cart {
    background-color: var(--clr2bg-light);
    color: black;
    padding: 1rem;
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 250px;

    li button {
        margin: 5px;
    }
}

.close-cart{
    position: absolute;
    top: 0;
    right: 5px;
}

.cart-container{
    position: relative;
}

.cart-count{
    background-color: var(--clr1);
    color: var(--gray2);
}
