.toggle-btn {
  display: inline-block;
  font-size: 20px;
  /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;

  input {
    position: absolute;
    opacity: 0;
  }

  div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    transition: all 300ms;
  }

  input:checked+div {
    transform: translate3d(100%, 0, 0);
    background: greenyellow;
  }
}