.toy-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 1.2rem;
    }

    span {
        font-weight: initial;
    }

    .img-container {
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 8px;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

}

.green {
    color: green;
}

.red {
    color: red;
}