.toy-list {
    list-style: none;
    min-width: 300px;
    max-width: 1200px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;

    li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        place-items: center;
        padding: 0.65em;
    }

    i {
        &:hover {
            color: var(--gray3);

        }
    }
}