.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    &:hover {
        transform: scale(1.005);
        box-shadow: 0 6px 18px var(--shadow);
    }

    >* {
        margin: 0;
        padding: 0;
    }

    .toy-preview h3 {
        text-transform: capitalize;
        color: black;
    }

    p {
        font-size: 0.8rem;
    }

    .img-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 8px;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    .preview-btns {
        button {
            background-color: transparent;
            width: 40px;
            height: 40px;

            i {
                font-size: 1rem;
            }
        }

    }
}