.user-msg {
    background-color: lightgray;
    padding: 1.5em 2.5em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    border-radius: 2px;
    font-size: 1.1em;
}

.user-msg.success {
    background-color: #D0F0C0;
}

.user-msg.error {
    background-color: #ebbdbd;
}

.user-msg button {
    font-size: .8em;
    float: right;
    margin: .5em;
}