:root {
  --clr1: #9A3F3F;
  --clr2: #DCD2AD;

  --clr1bg: #EACCCC;
  --clr1bg-light: #F8EDED;
  --clr2bg: #EAD5CD;
  --clr2bg-light: #F7F0ED;

  --gray1: rgb(240, 240, 240);
  --gray2: #F7F5ED;
  --gray3: #333;

  --shadow: rgba(0, 0, 0, 0.2);

} 