* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--gray3);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

a {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

button {
    cursor: pointer;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 4px;

    &:hover {
        transition: .3s;
    }

}