.app {
  display: grid;
  grid-template-rows: auto 1fr auto;

  grid-template-columns:
    minmax(16px, 1fr) minmax(300px, 1200px) minmax(16px, 1fr);

  min-height: 100vh;

  >* {
    width: 100%;
  }
}

main {
  grid-column: 2;
}

.subgrid{
  display: grid;
    grid-template-columns: 
    minmax(16px, 1fr) minmax(300px, 1200px) minmax(16px, 1fr);
    grid-template-rows: max-content;

    >*{
      grid-column: 2;
    }

}
